<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.coolshark.mapper.BannerMapper">

<select id="select" resultType="cn.tedu.coolshark.pojo.dto.Banner">
    SELECT id,url FROM banner
</select>

    <select id="deleteById" >
        DELETE FROM banner where id=#{id}
    </select>

    <select id="insert" >
        INSERT INTO banner VALUE (NULL,#{url})
    </select>

    <select id="selectUrlById" resultType="java.lang.String">
        SELECT url FROM banner WHERE id=#{id}
    </select>

    <select id="selectById" resultType="cn.tedu.coolshark.pojo.dto.Banner">
        SELECT id,url FROM banner WHERE id=#{id}
    </select>
<!--    修改轮播图-->
    <update id="update" >
        UPDATE banner SET url=#{url} WHERE id=#{id}
    </update>

</mapper>
